.Home {
  width: 100%;
  height: 100%;
}

// ---NAV---

.navPageHome {
  width: 100%;
  min-height: 50vh;
  padding-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  background-color: var(--color-main-first);
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(16, 14, 44, 0.836)),
    url("/homeMobile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--color-white);
}

.navText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  text-align: center;
  padding: 10px;

  h1 {
    // font-size: clamp(26px, 1.2vw + 1rem, 140px);
    padding-bottom: 0.875rem;
    color: var(--color-yellow);
    font-weight: 800;
    line-height: normal;
  }

  p {
    font-size: clamp(14px, 0.5vw + 1rem, 5.625rem);
    color: var(--color-white);
    font-weight: bold;
    line-height: normal;
  }
}

.btnCallAction {
  transition: color 0.3s;
  color: var(--color-blue2);
  background-color: var(--color-yellow);
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.5rem;
  font-size: clamp(14px, 0.3vw + 1rem, 5.625rem);
  font-weight: bold;
  margin-top: 2.5rem;

  &:hover {
    color: var(--color-orange);
    cursor: pointer;
  }
}

// ---SESSION--

.session {
  display: flex;
}

.sessionLogo {
  width: 100%;
  padding-top: 1.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 5rem;
  }
}

.btnMenu {
  background-color: var(--color-yellow);
  border: none;
  padding: 0.5rem 1.25rem;
  // font-size: 1rem;
  color: var(--color-black);
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}

.textName {
  color: var(--color-blue2);
  font-weight: 500;
}

.sessionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  justify-content: center;
}

// ---MAIN---
.mainPageHome {
  background-color: var(--color-blue2);
  width: 100%;
}
.textDesk {
  display: none;
}

.titleAndLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.25rem 1.25rem 1.25rem;
  color: var(--color-orange);
  max-width: 1600px;
  margin: 0 auto;

  a {
    color: var(--color-yellow);
  }
}

// ---SLIDER---
.containerSlider {
  padding-left: 0px;
  max-width: 1600px;
  margin: 0 auto;
}

.listCheck {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.5rem 1.25rem 2.5rem 1.25rem;

  h2 {
    color: var(--color-white);
    padding-bottom: 1.875rem;
    text-align: center;
  }

  .check {
    color: var(--color-orange);
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    padding-bottom: 0.625rem;
    color: var(--color-white2);
  }
}

.containerPics {
  display: none;
}

// REVIEWW

.containerReview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 1.25rem 2.5rem 1.25rem;
  color: var(--color-orange);
}

.imgReview img {
  width: 100%;
  height: 25rem;
  border-radius: 0.625rem;
  object-fit: cover;
}

.userReview {
  font-size: clamp(14px, 0.1vw + 1rem, 5.625rem);
}

.textReview {
  width: 100%;
  padding-bottom: 5rem;

  .textOne {
    color: var(--color-yellow);
    text-align: center;
  }

  h2 {
    color: var(--color-white);
    text-align: center;
  }
  .userReview {
    padding-top: 1.25rem;
    color: var(--color-white2);
  }
}

// --FOOTER--
.footer {
  display: none;
}

@media screen and (min-width: 48rem) {
  // ----NAV---

  .navPageHome {
    background: linear-gradient(
        rgba(16, 14, 44, 0.836),
        rgba(16, 14, 44, 0.836)
      ),
      url("/homePic.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 5rem;
  }

  .navText {
    max-width: 70%;
    gap: 1.25rem;
    h1 {
      max-width: 60%;
    }
  }

  // /SESSION

  .sessionLogo {
    display: none;
  }

  // ----MAIN---
  // --text section--
  .textDesk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6.25rem 2.5rem 6.25rem 2.5rem;
    gap: 0.625rem;
    width: 100%;
    background-color: var(--color-blue2);
    color: var(--color-orange);

    h2,
    p {
      width: 60%;
      margin: 0 auto;
    }

    h2 {
      text-align: center;
      // font-size: 2.5rem;
      color: var(--color-orange);
    }
  }

  .mainPageHome {
    padding-bottom: 10rem;
  }

  .titleAndLink {
    padding: 2.5rem 7.5rem 2.5rem 7.5rem;
  }

  // SLIDER DESK

  .containerSlider {
    padding-left: 1.875rem;
  }

  .containerListCheck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .listCheck {
    padding-top: 6.25rem;

    .check {
      min-width: 5rem;
    }

    li {
      width: 60%;
      justify-content: flex-start;
      font-size: clamp(14px, 0.3vw + 1rem, 5.625rem);
    }
  }

  // 3 pic section
  .containerPics {
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    gap: 1.25rem;
    padding: 7.5rem 2.5rem 2.5rem 2.5rem;

    .side {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      align-items: center;
    }

    .side img {
      height: 12.5rem;
      width: 400px;
      max-width: 100%;
      border-radius: 0.625rem;
      object-fit: cover;
    }

    .fullwidth img {
      height: 25.625rem;
      max-width: 100%;
      min-width: 15rem;
      border-radius: 0.625rem;
      object-fit: cover;
    }

    .textReview {
      padding-right: 2.5rem;
      width: 100%;
      max-width: 500px;
    }

    .numbers {
      display: flex;
      width: 100%;
      gap: 50px;
      padding-top: 1.25rem;

      h4 {
        color: var(--color-orange);
      }
      p {
        color: var(--color-white2);

        font-weight: bold;
      }
      .dataNumbers {
        max-width: 120px;

        p {
          font-size: clamp(14px, 0.1vw + 1rem, 5.625rem);
        }
      }
    }

    .sideImages {
      display: flex;
      width: 100%;
      max-width: 100%;
      gap: 20px;
    }
  }

  // REVIEWW

  .containerReview {
    flex-direction: row;
    gap: 1.875rem;
    padding: 4.25rem 2.5rem 0 2.5rem;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }

  .imgReview {
    max-width: 800px;
  }

  .imgReview img {
    min-height: 500px;
    max-width: 550px;
    border-radius: 50%;
  }

  .textReview {
    width: 100%;
    max-width: 600px;

    .textOne,
    h2 {
      text-align: left;
    }
  }
}
