.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-blue2);
  display: flex;
  justify-content: space-around;
  padding: 0.875rem 0;
  z-index: 3;

  a {
    color: var(--color-white);
  }
}

.MenuDesk {
  display: none;
}

@media screen and (min-width: 48rem) {
  .containerImage {
    cursor: pointer;
  }

  .MenuDesk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1900px;
    font-size: clamp(14px, 0.1vw + 1rem, 2.5rem);
    padding: 1rem 2.5rem;

    .topMenu {
      display: flex;
      align-items: baseline;
      gap: 0.875rem;
    }

    a {
      color: var(--color-back2);
    }
  }

  .menu {
    display: none;
  }

  .btnMenu {
    background-color: var(--color-yellow);
    border: none;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  .textName {
    color: var(--color-blue2);
    font-weight: 500;
    padding: 2px;
    font-size: clamp(14px, 0.1vw + 1rem, 2.5rem);
  }

  .textNameUser {
    color: var(--color-yellow);
    font-size: clamp(14px, 0.1vw + 1rem, 2.5rem);
  }

  .sessionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    justify-content: center;
  }
}
